@{
    ViewBag.Title = "Home Page";
}

<div id="chart_div" style="width: 900px; height: 400px;"></div>

<div id="animatedshapes_div" style="margin:auto;"></div>

<input type="hidden" id="leituras" value="@ViewBag.Leituras" />

<input type="hidden" id="axis" value="@ViewBag.Axis" />